<%= simple_form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, placeholder: 'food name' %>
  <%= f.input :desc, placeholder: 'food description' %>
  <%= f.input :price, placeholder: 'food price' %>

  <%= f.input :category, collection: ["Breakfast", "Lunch"] %>


  <%= f.input :image_url, placeholder: 'food sample image' %>

  <%= f.button :submit %>

<% end %>
