<p id="notice"><%= notice %></p>

<h1>Menu</h1>

<div class="row">
  <div class="col-lg-6">
    <%= render 'food_list' %>
  </div>
  <div class="col-lg-6">
    <%= render 'food_searcher' %>
    
    <% @selectedFood.each do |sf| %>
      <div class="card">
        <%= image_tag sf.image_url, class: "card-img-top center-block img-responsive", alt: sf.name %> 
        <div class="card-block">
          <h4 class="card-title"><%= sf.name %></h4>
          <p class="card-text"><%= sf.desc %></p>
          <%= link_to "Create order", new_food_order_path(sf), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Food', new_food_path %>
