<%= simple_form_for(@review) do |r| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= r.input :rate, placeholder: 'Rating from 1 to 5' %>
  <%= r.input :comment %>
  <%= r.button :submit %>

<% end %>
