<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

	<div class="container">
    <nav class="navbar navbar-light bg-faded navbar-fixed-top nav-container">
      <ul class="nav navbar-nav pull-left">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Menu", foods_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact us", contact_index_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
          <% if session[:order] %>
            <%= link_to "Orders (#{session[:order].count})", orders_show_path%>
          <% end %>
        </li>
      </ul>
    </nav>

    <div class="content-container">
		  <%= yield %>
    </div>
	</div>

  </body>
</html>
